.kineticjs-content {
}

#rad-value {
    color: orange;
    font-family: 'Cherry Cream Soda', cursive;
    font-weight: bold;
}

#paint-container {
    position: relative;
    top: 20px;
    left: 0;
    padding: 0;
    background: white;
    width: 100%;
    height: 500px;
    border: 5px groove gray;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
}

#arrow-top {
    position: relative;
}

#top-options {
    position:absolute;
    height: 530px;
    width: 190px;
    margin-left: 15px;
    opacity: 0.9;
    border: 5px ridge gray;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    background-color: #868686;
    z-index: 9001;
    display: none;
}

#color-picker {
    position: relative;
    margin: 10px;
}

#red, #green, #blue {
    width: 130px;
    height: 10px;
    margin: 20px;
}

#swatch {
    margin-left: 18px;
    width: 120px;
    height: 90px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    border: 3px ridge #c6c6c6;
    background-image: none;
}

#colors {
    margin-top: 10px;
    width: 170px;
    height: 300px;
}

.color {
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 2px ridge #c6c6c6;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    margin: 5px 2px;
    -moz-box-shadow: inset 0px 2px 1px rgba(255,255,255,0.5), 0px,2px,2px, rgba(0,0,0,0.5);
    -webkit-box-shadow: inset 0px 2px 1px rgba(255,255,255,0.5), 0px,2px,2px, rgba(0,0,0,0.5);
    box-shadow: inset 0px 2px 1px rgba(255,255,255,0.5), 0px,2px,2px, rgba(0,0,0,0.5);
}


#red .ui-slider-range {
    background: #ef2929;
}

#red .ui-slider-handle {
    border-color: #ef2929;
}

#green .ui-slider-range {
    background: #8ae234;
}

#green .ui-slider-handle {
    border-color: #8ae234;
}

#blue .ui-slider-range {
    background: #729fcf;
}

#blue .ui-slider-handle {
    border-color: #729fcf;
}

    #radius button {
        background-color: #c6c6c6;
        border: 1px ridge rgba(0, 0, 0, 0.6);
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        border-radius: 10px;
        font-weight: bold;
    }


#bottom-layer {
    position: relative;
    bottom: 0px;
    height: 30px;
    width: 100%;
    border: 3px groove rgba(0, 0, 0, 0.6);
    padding: 5px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background-image: url(../img/button-colors.jpg);
}


input[type=range] {
    -webkit-appearance: none;
}

    input[type=range]::-webkit-slider-runnable-track {
        width: 300px;
        height: 5px;
        background: #ddd;
        border: none;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
    }

    input[type=range]::-webkit-slider-thumb {
        -webkit-appearance: none;
        border: none;
        height: 16px;
        width: 16px;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        background: orange;
        margin-top: -4px;
    }

    input[type=range]:focus {
        outline: none;
    }

        input[type=range]:focus::-webkit-slider-runnable-track {
            background: #ccc;
        }

#x {
    position: relative;
    bottom: 10px;
    right: 250px;
    width: 70px;
    background-color: lightgray;
    border: 2px groove gray;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

#y {
    position: relative;
    bottom: 10px;
    right: 150px;
    width: 70px;
    background-color: lightgray;
    border: 2px groove gray;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

#load-pic {
    position: absolute;
    bottom: 12px;
    left: 220px;
    display: none;
}

form #url {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

form #submit {
    background-color: #c6c6c6;
    font-family: 'Cherry Cream Soda', cursive;
    color: black;
    font-weight: bold;
    -moz-border-radius: 5px 5px 15px 15px;
    -webkit-border-radius: 5px 5px 15px 15px;
    border-radius: 5px 5px 15px 15px;
    border: 3px ridge gray;
}

a {
    text-decoration: none;
}

    a i {
        font: 0/0 a;
        text-shadow: none;
        color: transparent;
    }

nav {
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    -moz-transition: right 0.2s linear;
    -o-transition: right 0.2s linear;
    -webkit-transition: right 0.2s linear;
    transition: right 0.2s linear;
    width: 200px;
    z-index: 9001; /* IT'S OVER 9000! */
    display: none;
}

    nav a:nth-child(n+1) {
        color: white;
        display: block;
        font-size: 1.5em;
        margin: 10px 0px 10px 20px;
    }

        nav a:nth-child(n+1):after {
            background: #ffa53e;
            content: '';
            display: block;
            height: 4px;
            -moz-transition: width 0.2s;
            -o-transition: width 0.2s;
            -webkit-transition: width 0.2s;
            transition: width 0.2s;
            width: 0;
        }

    nav a.selected:nth-child(n+1):after {
        background: #ffa53e;
        content: '';
        display: block;
        height: 2px;
        width: 100%;
    }

    nav a:nth-child(n+1):hover:after {
        width: 100%;
    }

#flipper{
	position: relative;
	top: 0px;
	left: 540px;
	background-image: url(../img/button-colors.jpg);
	font-family: 'Cherry Cream Soda', cursive;
	z-index: 2;
	font-weight: bold;
	padding: 3px 8px;
	font-size: 14px;
	-moz-border-radius: 5px 5px 15px 15px;
	-webkit-border-radius: 5px 5px 15px 15px;
	border-radius: 5px 5px 15px 15px;
	border: 3px ridge gray;
}	
